<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label" >Numero1</label>
            <input class="form-control" name="num1" placeholder="Numero1" [(ngModel)]="numero1">
        </div>
        <div class="mb-3">
            <label for="" class="form-label" >Numero2</label>
            <input class="form-control" name="num2" placeholder="Numero2" [(ngModel)]="numero2">
        </div>
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">calcular</button>
        </div>
    </div>
    <div class="col-6">
        <h2>La suma es: {{resultado}} </h2>
    </div>
</div>
